@import url('https://fonts.googleapis.com/css?family=Quicksand:200,300,400,500,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
}
body {
    background: #111319 url(https://www.toptal.com/designers/subtlepatterns/uploads/padded.png) repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
  }
.cont_principal {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.cont_principal .parte_izq {
    position: relative;
    padding: 40px;
    background: #343434 url(https://www.toptal.com/designers/subtlepatterns/uploads/dark_wall.png) repeat;
}
.texto_perfil {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: 600;
    line-height: 1.4em;
    text-transform: uppercase;
    text-align: center; 
}
.texto_perfil .imagen {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #03a9f4;
}
.texto_perfil .imagen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto_perfil h1 {
    margin-top: 20px;
}
.texto_perfil h1 span{
    color: #03a9f4;    
}
.texto_perfil h2 {
    font-size: 1em;
    margin-top: 10px;
    font-weight: 300;    
}
.perfil {
    color: #fff;
    padding-top: 40px;
}
.contacto {
    padding-top: 40px;
}
.titulo {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;   
}
.contacto ul {
    position: relative;
}
.contacto ul li {
    position: relative;
    list-style: none;
    margin: 10px;
    cursor: pointer;
}
.contacto ul li a {
    text-decoration: none;
}
.contacto ul li .icono {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;    
}
.contacto ul li .texto {
    font-weight: 300;
    color: #fff;    
}
.redes{
    padding-top: 40px;
}
.menu-circular {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: relative;
}
.circulo {
    width: 250px;
    height: 250px;
    opacity: 0; 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
} 
.abrir.circulo {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.circulo a {
    text-decoration: none;
    color: white;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    text-align: center; 
}
.circulo a:hover {
    color: #03a9f4
}
.boton-menu {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    text-decoration: none;
    text-align: center;
    color: #444;
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    /*padding: 10px;*/
    background: #03a9f4;
}
.boton-menu:hover {
    background-color: #eef;
}  
.cont_principal .parte_der {
    position: relative;
    padding: 40px;
    background: #696969 url(https://www.toptal.com/designers/subtlepatterns/uploads/grey_wash_wall.png) repeat;
}
.idiomas ul li {
    font-size: 1.2em;
    list-style: none;
    font-weight: 550;
    margin-bottom: 20px;
    color: #081921;
}
.idiomas .porcentaje {
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.idiomas .porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(119,191,203);
}
.habilidades {
    margin-top: 40px;
}
.habilidades .contenedor {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.habilidades .contenedor .caja {
    position: relative;
    width: 240px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilidades .contenedor .caja .contenido .porcentaje {
    position: relative;
    width: 150px;
    height: 150px;   
}
.habilidades .contenedor .caja .contenido .porcentaje::before {
   content: attr(data-text);
   position: absolute; 
   inset: 20px;
   background: #081921;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 1.75em;
   letter-spacing: 0.1em;
   text-transform: uppercase;
}
.habilidades .contenedor .caja .contenido .porcentaje svg {
    position: relative;
    width: 150px;
    height: 150px; 
    transform: rotate(270deg);     
}
.habilidades .contenedor .caja .contenido .porcentaje svg circle {
    width: 100%;
    height: 100%; 
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0, 0, 0, 0.05);
    transform: translate(5px,5px);
}
.habilidades .contenedor .caja .contenido .porcentaje svg circle:nth-child(2) {
    stroke: #081921;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: desvanecerse 1s linear forwards;
    animation-delay: 2.5s;
    /* Acá es donde hace el calculo del porcentaje circular*/
} 
@keyframes desvanecerse {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.habilidades .contenedor .caja .contenido .porcentaje .punto {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animacionPunto 2s linear forwards;
    /* Acá es donde hace la animación del punto*/
}
@keyframes animacionPunto {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(calc(3.6deg * var(--num)));}    
}
.habilidades .contenedor .caja .contenido .porcentaje .punto::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background: #081921;
    border-radius: 50%;
}
.habilidades .contenedor .caja .contenido .numero {
    position: relative;
    inset: 0; 
    opacity: 0;
    animation: desvanecerse 1s linear forwards; 
    animation-delay: 2.5s; 
}
.habilidades .contenedor .caja .contenido .numero h2 {
    font-size: 2.5em;
    color: #081921;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilidades .contenedor .caja .contenido .numero h2 span {
    font-weight: 300;
    font-size: 0.6em;
    margin-left: 5px;
}
.experiencia {
    margin-top: 20px;
    margin-bottom: 30px;
}
.experiencia:last-child {
    margin-bottom: 0;
}
.titulo2 {
    color: black;/*#003147;*/
    text-transform: uppercase; 
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 10px;        
}
.experiencia .caja {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.experiencia .caja .anio_empresa {
    min-width: 150px;
}
.experiencia .caja .anio_empresa h5 {
    color: #081921;
    font-weight: 600;
    text-transform: uppercase; 
}
.experiencia .caja .anio_empresa h4 {
    color: rgb(119,191,203);
    font-weight: 16px;
    text-transform: uppercase; 
}
.intereses-items {
    box-sizing: border-box;
    padding: 0 0 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.intereses-items div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.intereses-items div span {
    margin-top: 10px;
}
.intereses-items div:hover i {
    transform: scale(1.2);
}
.intereses-items div:hover span {
    color: #03a9f4;
    transition-duration: 0.3s;
}
.intereses-items div i {
    font-size: 45px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    color: rgb(119,191,203);
    transition-duration: 0.3s;
    background: #081921;
    border-radius: 50%;
}
.intereses-items div span {
    font-size: 25px;
    font-weight: 500;
    display: block;
}
.iconos {
    position: relative;
}
.iconos:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}  
.iconos:hover:before {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 1146px) {
    .cont_principal {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .contenedor {
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
    .intereses-items {
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap; 
    }
}
@media(max-width: 600px){
    .experiencia .caja {
        flex-direction: column;
    }
    .experiencia .caja .anio_empresa {
        margin-bottom: 5px;
    }
}
  